@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');


$color_2: black;
$font-family_1: 'Permanent Marker', cursive;
$border-color_1: black;

@mixin h1 {
	font-family: $font-family_1;
	$font-family_1: 'Permanent Marker', cursive;
}

@mixin header {
	font-family: $font-family_1;
	$font-family_1: 'Permanent Marker', cursive;
	color: black;

}

header {
	@include header
}

h1 {
	@include h1
}