.biografia {
    margin-top: 30px;
    padding: 10px;
}

.article .p {
    font-size: 15px;
    opacity: 65%;
    margin-top: 10px;
    font-family: $font-family_1;
    $font-family_1: 'Permanent Marker', cursive;

}


