$color_1: #ebebeb;

html {
	scroll-behavior: auto;
	height: 100%;
}
body {
	background-color:  #ebebeb;
	min-height: 100%;

}

.container {
	margin-top: 0;
	
}
@media only screen and (min-width: 990px) {
    .container {
		margin-top: 90px;
        margin-left: 40px;

    }
	 }

.slider {
	background-color: transparent;
	margin-bottom: 5px;
	position: relative;
	
	.owl-item.active.center {
		.slider-card {
			transform: scale(1.15);
			opacity: 1;
			background: transparent ;
			
		}
	}
}
.slider-card {
	background-color: transparent;
	padding: 0px 0px;
	margin: 50px 15px 90px 15px;
	border-radius: 5px;
	
	transform: scale(0.9);
	opacity: 0.5;
	transition: all 0.3s;
	img {
		border-radius: 5px 5px 0px 0px;
	}
}
.owl-nav {
	.owl-prev {
		position: absolute;
		top: calc(50% - 25px);
		left: 0;
		opacity: 1;
		font-size: 30px !important;
		z-index: 1;
	}
	.owl-next {
		position: absolute;
		top: calc(50% - 25px);
		right: 0;
		opacity: 1;
		font-size: 30px !important;
		z-index: 1;
	}
}

.card { 
	background-color: transparent;
	border: none;

}

.layerraalbum {
	
	padding: 10px;
}



